<% include header.html %>
    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->

    <div class="container">
        <form id="form1" name="form1" >
            <fieldset>
                <h2>欢迎登陆</h2>
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input class="form-control" type="text" id="email" name="email" placeholder="Email address">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password">
                </div>

                <div class="input-group">
                    <button type="submit" id="form1_submit" class="btn btn-primary">登陆</button>
                </div>
            </fieldset>
        </form>
    </div>

<script>
    $(document).ready(function () {
        console.log('ready go!');
        $('#form1_submit').on('click', function () {
            console.log('clickkkkk');
            $('#form1').ajaxSubmit({
                url : '/login',
                type : 'POST',
                data : {email : $('#email').value, password : $('#password').value},
                dataType : 'json',
                success : function (result) {
                    console.log('=====>>',result);
                    alert('成功');
                    return;
                }
            });
        });
    });
</script>
<% include footer.html %>
