<% include header.html %>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->

<div class="container">
    <h2>欢迎光临</h2>
</div>

<script>
    $(document).ready(function () {
        console.log('ready go!');
        $('form1_submit').submit(function () {
            console.log('clickkkkk');
            $('form1').ajaxSubmit({
                url : '/login',
                type : 'POST',
                dataType : 'json',
                success : function (result) {
                    console.log('=====>>',result);
                    alert('成功');
                }
            });
        });
    });
</script>
<% include footer.html %>
